$defaultYellow: #feae00;
$defaultDarkRed: #a60914;
$defaultRed: #f11b2a;
$defaultBlack: #000000;
$defaultWhite: #ffffff;
$defaultWhite: #f9fefe;
$defaultGrey: #89899d;
$defaultDarkGreen: #00a629;
$defaultGreen: #00f23d;
$defaultLightGreen: #49f273;
$defaultLightBrown: #bf9791;
$defaultBrown: #735a57;
$defaultBackgroudBrown: #89899d;
$defaultBackgroundYellow: #392d1e;
$defaultBackgroundRed: #360c1e;
$backgroundRed: #e5131d;
$borderColor: #5f5f7a;
$yellowWarning: #febc2c;
$darkBrown: #51414c;

$defaultBlueZero: #08091b;
$defaultBlueOne: #12133a;
$defaultBlueTwo: #333454;
$defaultBlueThree: #10328d;
$defaultBlueFour: #415a9f;
$defaultBlueFive: #4244d4;
$defaultBlueSix: #6991ff;

$verticalInputBorder: #9f9f9f;
$horizontalInputBackground: #89899d;
$horizontalInputBorder: #707070;

$ButtonPlusBackground: #36b556;
$profilePicBorder: #081e34;
