$fontFamily: "Segoe UI";
$semiBold: 600;
$moreBold: 700;

$fontSizeBodyHuge: 30px;
$fontSizeBodyLarger: 20px;
$fontSizeBodyStandard: 18px;
$fontSizeBodySmaller: 16px;

$fontSizeTableHeader: $fontSizeBodyLarger;
$fontSizeTableBody: $fontSizeBodyLarger;

$fontSizeHeaderPopup: $fontSizeBodyLarger;
$fontSizeLabelInput: $fontSizeBodySmaller;
$fontSizeValueInput: $fontSizeBodySmaller;
